---
import BaseLayout from '../layouts/BaseLayout.astro';
import 'virtual:quaro-theme/overrides.css';
import Bio from '../components/Bio.astro';
import { formatPostDate, getBlogPosts, getPostSlug } from '../lib/posts';
import { SITE } from 'virtual:quaro-theme/config';

const posts = await getBlogPosts();
---

<BaseLayout site={SITE} title="All posts" home>
  <Bio author={SITE.author} />

  {
    posts.map((post) => (
      <div class="post-preview">
        <h3>
          <a class="post-link" href={`/${getPostSlug(post)}/`}>
            {post.data.title}
          </a>
        </h3>
        <small>{formatPostDate(post.data.date)}</small>
        <p>{post.data.summary}</p>
      </div>
    ))
  }
</BaseLayout>

<style>
  .post-preview h3 {
    margin-bottom: calc(var(--rhythm) * 0.25);
  }

  .post-link {
    color: var(--heading-grey);
  }
</style>
